// IMPORTS
@import url('https://fonts.googleapis.com/css?family=Kanit:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');



// BLOCK ==========================
body { background: #0C65A1; height: 100%; font-family: 'Quicksand';}
html { height: 100%; }
p, span, i, em,li { font-family: 'Quicksand'; }
main { min-height: 100%; margin-bottom: -58px; }
main:after { content: ""; display: block; }
footer, main:after { height: 58px; }



// ELEMENT ========================
.main-content { display: none; }
.header__logo { filter: drop-shadow(1px 1px 2px #000); }
.select-dropdown{color: white;}

    // center select options on mobiles until 803px
    @media only screen and (min-width:300px) and (max-width: 803px){
        .select-department__row { margin: 0 auto; }
    }

input[type=text] { font-weight: bold; }

.ui-menu { 
    list-style: none; 
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
    list-style-type: none;
    overflow-y: auto;
    max-height: 210px;
    padding-left: 0;
    background: #fff;
    margin-top: 0;
    margin-bottom: 1rem;
    width: 255px;
}
.ui-menu li {
    padding: 12px 15px;
    cursor: pointer;
    font-size: .875rem;
    font-family: 'Quicksand';
    color: rgb(128,0,128);
    line-height: 1.5;
    display: list-item;
    text-align: -webkit-match-parent;
}

.ui-menu li:hover { background: #eee; }





// MODIFIER =======================
.icon-shadow { text-shadow: 0px 0px 5px #000; }
.select-wrapper span.caret { color: #fff !important; }
.sidenav-selected { background: #310269 !important; }
button.mdb-autocomplete-clear svg { fill: #fff;}
.md-form .prefix.active { color: #fff; text-shadow: 1px 1px 1px #000; }
.md-form input[type=email]:focus:not([readonly]) { border-bottom: 1.5px solid #fff; box-shadow: 0 0.5px 0 0 #000;  }
.md-form textarea:focus:not([readonly]) { border-bottom: 1.5px solid #fff !important; box-shadow: 0 0.5px 0 0 #000 !important; }

.disabled { display: none; }
.form-check-input[type=checkbox]+label { color: #fff;  }

.form-check-input[type=checkbox]+label:before, 
.form-check-input[type=checkbox]:not(.filled-in)+label:after, 
label.btn input[type=checkbox]+label:before, 
label.btn input[type=checkbox]:not(.filled-in)+label:after { border: 2px solid #fff; }

.form-check-input[type=checkbox]:checked+label:before, 
label.btn input[type=checkbox]:checked+label:before { border-right: 2px solid #03E009; border-bottom: 2px solid #03E009; filter: drop-shadow(2px 4px 6px black); }